:host {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 150px;
  grid-template-rows: 1fr;
  overflow: hidden;

  input {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }

  &.busy {
    cursor: wait;
  }
}
